<div class="col-xs-12 col-sm-12 col-lg-12 animated fadeIn">
	<div class="col-xs-12 col-sm-6 col-lg-8">
		<h1>CADASTRO DE USUÁRIO</h1>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
  		</div>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<hr>
		<button class="btn btn-default pull-right" ng-click="SalvarUsuario()">Salvar</button>
		<button class="btn btn-default pull-right" style="margin-right: 5px;" ng-click="CancelarAlteracao()">Cancelar</button>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<div class="col-xs-4 col-sm-2 col-lg-2 col-xs-offset-4 col-sm-offset-5 col-lg-offset-5" style="text-align: center;">
			<img ng-src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" style="width: 70%; height: 70%;" alt="..." class="img-circle">
			<a style="color: black;margin-top: 50%;position: absolute;" title="Alterar foto" href=""><i style="font-size: 20px" class="glyphicon glyphicon-camera"></i></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-lg-6 col-xs-offset-0 col-sm-offset-2 col-lg-offset-3">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-6">
				<div class="form-group">
					<label>Tipo de pessoa</label>
					<select ng-model="usuario.tipo_pessoa" class="form-control">
						<option value="">Selecione um tipo</option>
						<option value="Jurídica">Pessoa Jurídica</option>
						<option value="Física">Pessoa Física</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-6">
				<div class="form-group">
					<label>Perfil de usuário</label>
					<select class="form-control" ng-options="p.nome for p in perfisParaUsuarios track by p.id" ng-model="perfilSelecionado" ng-change="SelecionaPerfil()">
						<option value="">Selecione um perfil</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-4">
				<div class="form-group">
					<label>Primeiro nome</label>
					<input type="text" ng-model="usuario.nome_fantasia" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-lg-8">
				<div class="form-group">
					<label>Nome completo</label>
					<input type="text" ng-model="usuario.nome_real" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-6">
				<div class="form-group">
					<label>Email</label>
					<input type="email" ng-model="usuario.email" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="form-group">
					<label>Telefone</label>
					<input type="text" ng-model="usuario.telefone" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="form-group">
					<label>Celular</label>
					<input type="text" ng-model="usuario.celular" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="form-group">
					<label>CPF</label>
					<input type="text" ng-model="usuario.numero_fiscal" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="form-group">
					<label>RG</label>
					<input type="text" ng-model="usuario.numero_registro" class="form-control"/>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="form-group">
					<label>CEP</label>
					<input type="text" ng-model="usuario.cep" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-lg-7">
				<div class="form-group">
					<label>Endereço</label>
					<input type="text" ng-model="usuario.endereco" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-2">
				<div class="form-group">
					<label>Número</label>
					<input type="text" ng-model="usuario.numero" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-2">
				<div class="form-group">
					<label>Complemento</label>
					<input type="text" ng-model="usuario.complemento" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="form-group">
					<label>Bairro</label>
					<input type="text" ng-model="usuario.bairro" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-2">
				<div class="form-group">
					<label>UF</label>
					<input type="text" ng-model="usuario.estado" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="form-group">
					<label>Cidade</label>
					<input type="text" ng-model="usuario.cidade" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="form-group">
					<label>Senha</label>
					<input type="password" ng-model="usuario.senha" class="form-control"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-6">
				<div class="form-group">
					<label>Repetir senha</label>
					<input type="password" ng-model="repetirSenha" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>
</div>