<div id="st-container" class="st-container animated fadeIn" ng-controller="HomeController">
	<nav class="st-menu st-effect-2" id="menu-1">
		<h2>AIR</h2>
		<ul>
			<li><a class="icon icon-wallet" href="#/">Home</a></li>
      <li ng-repeat="e in enderecos"><a class="{{e.icon}}" data-effect="st-effect" href="{{e.url}}">{{e.nome}}</a></li>
			<!-- <li><a class="icon icon-location" href="#/projeto/tarefas">Tarefas</a></li>
			<li><a class="icon icon-study" href="#/financeiro">Financeiro</a></li>
			<li><a class="icon icon-photo" href="#/usuarios">Usuários</a></li>
			<li><a class="icon icon-photo" href="#/perfil-de-acesso">Perfil de acesso</a></li> -->
			<li><a class="icon icon-wallet" ng-click="Logout()" href="#">Logout</a></li>
		</ul>
	</nav>

	<div class="st-pusher">

		<div class="st-content">
			<div class="st-content-inner">

				<div class="main clearfix">
					<div id="st-trigger-effects" class="column">
						<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
						<button class="mybutton" style="float: left; background: transparent; border: none; margin-left: 10px; " data-effect="st-effect-2">
							<i style="font-size: 30px;" class="glyphicon glyphicon-menu-hamburger"></i>
						</button>
						
						<h6 class="pull-right">Olá {{nomeUser}}&nbsp;&nbsp;&nbsp;&nbsp;</h6>
						
						<div class="col-xs-12 col-sm-12 col-lg-12">
							<div ng-view=""></div>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12">
							<div style="width:100%;position:fixed; right:30px; bottom:10px;">
								<div style="text-align:right;">
									<img style="width: 80px; height: auto;" src="assets/images/logo.png" alt="Oxigênio Comunicação"/>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PERFIL ACESSO INICIO -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">PERFIL DE ACESSO</h4>
      </div>
      <div class="modal-body">
        <div class="row">
    		<div class="col-xs-12 col-sm-12 col-lg-12">
    			<div class="col-xs-12 col-sm-8 col-lg-7">
					<div class="form-group">
						<label for="nome-perfil">Nome do perfil</label>
						<input type="text" ng-model="perfil.nome" class="form-control"/>
					</div>
    			</div>
    			<div class="col-xs-12 col-sm-4 col-lg-5">
    				<label for="qtd">Pessoas vinculadas</label>
					<input type="text" disabled ng-model="perfil.qtdUsuariosVinculados" class="form-control"/>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-lg-12">
    				<label for="qtd">Descrição do perfil</label>
					<textarea type="text" ng-model="perfil.descricao" class="form-control" lines="4"></textarea>
    			</div>
    		</div>
    		<div class="col-xs-12 col-sm-12 col-lg-12">
    			<hr>
    		</div>
    		<div class="col-xs-12 col-sm-12 col-lg-12">
    			<div class="col-xs-12 col-sm-12 col-lg-12">
    				<h5>Áreas de acesso</h5>
    			</div>
    			<div class="col-xs-12 col-sm-6 col-lg-6" ng-repeat="a in acessos">
    				<input type="checkbox" ng-model="a.ativo" ng-true-value="'S'" ng-false-value="'N'">  {{a.nome}}<br>
    			</div>
    			
    		</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="Cancelar()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="SalvarPerfil()">Salvar alterações</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PERFIL ACESSO FIM -->

<!-- MODAL REMOVER PERFIL ACESSO INICIO -->

<div class="modal fade" id="remover-perfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Informação!</h4>
      </div>
      <div class="modal-body">
        <h3>Deseja remover o perfil {{perfil.nome}}?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="Cancelar()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="Remover()">Remover perfil</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL REMOVER PERFIL ACESSO FIM -->

<!-- MODAL REMOVER USUARIO INICIO -->

<div class="modal fade" id="remover-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Informação!</h4>
      </div>
      <div class="modal-body">
        <h3>Deseja remover o usuário {{usuarioSelecionado.nome_real}}?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="Cancelar()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="RemoverUsuario()">Remover usuário</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL REMOVER USUARIO FIM -->

<script src="assets/js/classie.js"></script>
<script src="assets/js/sidebarEffects.js"></script>