<div class="col-xs-12 col-sm-12 col-lg-12 animated fadeIn">
	<div class="col-xs-12 col-sm-6 col-lg-8">
		<h1>USUÁRIOS</h1>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
      		<input type="text" class="form-control" ng-model="myfilter" placeholder="Pesquisar..."/>
  		</div>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<hr>
		<button class="btn btn-default pull-right" ng-click="NovoUsuario()">Cadastrar novo</button>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-lg-12 table-responsive">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Celular</th>
					<th>Cidade</th>
					<th>Estado</th>
					<th>Perfil</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in usuarios | filter:myfilter">
					<td ng-click="SelecionarUsuario(u)">{{u.nome_fantasia}}</td>
					<td ng-click="SelecionarUsuario(u)">{{u.telefone}}</td>
					<td ng-click="SelecionarUsuario(u)">{{u.celular}}</td>
					<td ng-click="SelecionarUsuario(u)">{{u.cidade}}</td>
					<td ng-click="SelecionarUsuario(u)">{{u.estado}}</td>
					<td ng-click="SelecionarUsuario(u)">{{u.perfilusuario}}</td>
					<td ng-click="SelecionarUsuarioParaRemover(u)"><a href="" title="Remover"><i style="color: #d9534f;" class="glyphicon glyphicon-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
</div>