<div class="full-area" ng-controller="LoginController">
	<div class="centered-vertical col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1 animated bounceInUp">
		<h1>AIR</h1>
		<p>Se você é nosso cliente e não possui dados para acesso, entre em contato e descubra um novo espaço para gerir pedidos e acompanhar seus projetos.</p>
	</div>	
	<div class="col-xs-12 col-sm-12 col-lg-12 animated bounceInUp">&nbsp;</div>	
	<div class="centered-vertical col-xs-12 col-sm-10 col-lg-4 col-xs-offset-0 col-sm-offset-1 col-lg-offset-4 animated bounceInDown">
		<div style="text-align:center">
			<img src="assets/images/logo.png" alt="Oxigênio Comunicação">
		</div>
		<hr>
		<div class="form-group">
			<input type="email" id="email" class="form-control" ng-model="userlogin.email" placeholder="Digite seu email">
		</div>
		<div class="form-group">
			<input type="password" id="password" class="form-control" ng-model="userlogin.senha" placeholder="Digite sua senha">
		</div>
		<button type="button" class="btn btn-default btn-block" ng-click="RealizarLogin()">ENTRAR</button>

		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>

	<div class="centered-vertical col-xs-12 col-sm-4 col-lg-2 col-sm-offset-8 col-lg-offset-10 animated bounceInLeft">
		<h3>Contato</h3>
		<p>(44) 3222-2222</p>
	</div>
</div>

