<div class="col-xs-12 col-sm-12 col-lg-12 animated fadeIn">
	<div class="col-xs-12 col-sm-6 col-lg-8">
		<h1>PERFIS DE ACESSO</h1>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="form-group">
			<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
      		<input type="text" class="form-control" ng-model="myfilter" placeholder="Pesquisar..."/>
  		</div>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<hr>
		<button class="btn btn-default pull-right" ng-click="NovoPerfil()">Cadastrar novo</button>
		<div class="col-xs-12 col-sm-12 col-lg-12">&nbsp;</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-lg-12 table-responsive">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Usuários vinculados</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in perfis | filter:myfilter">
					<td ng-click="SelecionarPerfil(p)">{{p.nome}}</td>
					<td ng-click="SelecionarPerfil(p)">{{p.descricao}}</td>
					<td ng-click="SelecionarPerfil(p)">{{p.qtdUsuariosVinculados}}</td>
					<td ng-click="SelecionarParaRemover(p)"><a href="" title="Remover"><i style="color: #d9534f;" class="glyphicon glyphicon-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
</div>