.full-area { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.full-area-login { 
	width: 100%; 
	background: url(../images/login-page-min.jpg) 50% 20% no-repeat; 
	background-size: cover; 
	height: 100%; 
}

.centered-vertical { 
  top: 10%;
}

.white-color {
	color: white;
}
